.course-home-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.weekly-topics-menu {
  flex: 0 0 30%;
  padding: 20px;
  background-color: #f2f2f2;
}

.weekly-topics-menu h2 {
  margin-bottom: 10px;
}

.course-content {
  flex: 0 0 65%;
  padding: 20px;
}

.course-description {
  font-style: italic;
  color: #555;
}

.course-topics {
  margin-top: 20px;
}

.course-topic {
  margin-bottom: 20px;
}

.course-topic h3 {
  color: #007bff;
}

.course-topic p {
  color: #666;
}

.video-box {
  gap: 40px;
  display: flex;
}
